.body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    width: 75%;
    background: #1F2937;
}
ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none; 
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px;
}