.body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    width: 75%;
    background: #1F2937;
    margin-top: 24px;
}
ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none; 
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px;
}
.gcard
{
    display: flex;
    border-radius: 8px;
    align-self: flex-start;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 396px;
}
.Sign-up-pitch
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 50px;
}
.part1
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    gap: 20px;
}
.hero
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0px;
}
.hero-main
{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 10px;
}
.hero-scnd
{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}
.Sign-up
{
    background-color: #3882F6;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 8px;
    border-color: #3882F6;
    color: #E5E7EB;
}

.part2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.Main-content
{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: flex-start;
    flex-wrap: wrap;
}
.info-header
{
    font-weight :800;
    font-size: 36px;
    color: #1F2937;
    margin-top: 12px;
}
.perks
{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px;
}
img
{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    margin: 36px;
    border: 2px solid black;
}
p{
    text-align: center;
}
.review-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 75%;
}
.review 
{
    font-size: 28px;
    font-style :italic;
    margin: 10px;
}
.by-text
{
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
    margin: 5px;
}
.part3
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin-top: 48px;
    padding: 36px 0px 36px 0px;
}
.giveaway
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 75%;
    border-radius: 4px;
    margin: 48px;
}
.giveaway .Sign-up
{
    border: 2px solid white;
    box-shadow: none;
    margin: 36px;
    padding: 6px 12px 6px 12px;
}
.heading
{
    font-size: 18px;
    font-weight: 700;
    align-self: flex-start;
}
.giveaway-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 18px 36px 18px 36px;
}
.part4
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer
{
    text-align: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 24px 0px 24px 0px;
}